button,
Field {
  font-size: 14px;
  background-color: white;
  border: 1px solid rgb(122, 139, 129);
}

Field {
  margin-right: 50px;
}

@media screen and (max-width: 620px) {

  Field,
  button {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  button {
    width: 40%;
  }

  button {
    background-color: rgb(11, 77, 59);
    color: white;
  }
}
