#App {
  width:100wv;
  height:50px;
}

#content {
  text-align: center;
  overflow: hidden;
}

nav {
  background-color: rgb(13, 85, 51);
  position: relative;
  font-size: 18px;
  float: left;
  height: 100vh;
  list-style-type: none;
}

nav li{
  padding: 25px 50px;
  text-align: center;
}

nav li a{
  color: white;
  text-decoration: none;
}

nav li:hover{
  padding: 25px 50px;
  color: white;
  text-decoration: underline;
}
