body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: rgb(11,68,10);
}

button,
input {
  font-size: 14px;
  background-color: white;
  border: 1px solid rgb(122, 139, 129);
}

input{
  margin-right: 50px;
}

#showResult {
  margin-top: 20px;
  border-top: 5px solid rgb(11, 68, 10);
  padding-top: 30px;
  color: blue;
}

#showResult div {
  height: 100px;
  min-width: 50px;
  float: left;
  margin-bottom: 15px;
  color: rgb(8, 29, 3);
}

#showResult hr {
  border-color: rgb(206, 221, 202);
}


@media screen and (max-width: 620px) {
    display: block;
width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;
  }



  button {
    width: 40%;
  }

  button {
    background-color: rgb(11, 77, 59);
    color: white;
  }

}
